In [1]:
import pandas as pd
import numpy as np

In [2]:
df_xml = pd.read_xml("data/atributos_xml.xml")
df_xml

       level_0  index  time    age gender
0            0      0   910  50-54    Man
1            1      1   784  50-54    Man
2            2      2   924  22-24    Man
3            3      3   575  45-49    Man
4            4      4   781  45-49    Man
...        ...    ...   ...    ...    ...
25968    25968  25968  1756  30-34    Man
25969    25969  25969   253  22-24    Man
25970    25970  25970   494  50-54    Man
25971    25971  25971   277  45-49    Man
25972    25972  25972   255  18-21    Man

[25973 rows x 5 columns]

In [3]:
# archivo limpio como lo queremos
df_xml.drop(["level_0", "index", "time"], axis = 1, inplace=True)

In [4]:
df_q10 = pd.read_csv("data/q10.csv", index_col=0)
df_q10

,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
index,,,,,,,,,,,,,,,,,
0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,Amazon Sagemaker Studio Notebooks,Amazon EMR Notebooks,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN
25969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
25970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
25972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Remanente

In [5]:
df_remanentes = pd.read_csv("data/remanentes_encuesta.csv", index_col=0)
df_remanentes.head(1)

,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_q27= df_remanentes.filter(items=["Q27_A_Part_1","Q27_A_Part_2",	"Q27_A_Part_3",	"Q27_A_Part_4",	"Q27_A_Part_5", "Q27_A_Part_6",	"Q27_A_Part_7",	"Q27_A_Part_8",	"Q27_A_Part_9",	"Q27_A_Part_10","Q27_A_Part_11","Q27_A_OTHER"])

In [7]:
df_q29 = df_remanentes.filter(items=["Q29_A_Part_1","Q29_A_Part_2",	"Q29_A_Part_3",	"Q29_A_Part_4","Q29_A_OTHER"])

In [8]:
df_40= df_remanentes.filter(items=["Q40_Part_1","Q40_Part_2","Q40_Part_3","Q40_Part_4","Q40_Part_5","Q40_Part_6","Q40_Part_7","Q40_Part_8","Q40_Part_9","Q40_Part_10","Q40_Part_11","Q40_OTHER"])

In [9]:
df_42 = df_remanentes.filter(items=["Q42_Part_1","Q42_Part_2","Q42_Part_3","Q42_Part_4",	"Q42_Part_5","Q42_Part_6","Q42_Part_7",	"Q42_Part_8","Q42_Part_9",	"Q42_Part_10",	"Q42_Part_11",	"Q42_OTHER"])

In [10]:
pd.options.display.max_columns = None

In [30]:
df_q27_columna= df_q27.apply(lambda locura: sumar_columnas(locura["Q27_A_Part_1"], locura["Q27_A_Part_2"], locura['Q27_A_Part_3'], locura['Q27_A_Part_4'],locura['Q27_A_Part_5'],locura['Q27_A_Part_6'],locura['Q27_A_Part_7'],locura['Q27_A_Part_8'],locura['Q27_A_Part_9'],locura['Q27_A_Part_10'],locura['Q27_A_Part_11'],locura['Q27_A_OTHER']), axis = 1)
# este df tiene completa la pregunta q27. Va para el archivo final

In [32]:
df_q29_columna= df_q29.apply(lambda locura: sumar_columnas(locura['Q29_A_Part_1'],locura['Q29_A_Part_2'],locura['Q29_A_Part_3'],locura['Q29_A_Part_4'],locura['Q29_A_OTHER']), axis = 1)
#esta columna va para archivo final

In [37]:
df_q40_columna = df_40.apply(lambda locura: sumar_columnas(locura['Q40_Part_1'],locura['Q40_Part_2'],locura['Q40_Part_3'],locura['Q40_Part_4'],locura['Q40_Part_5'], locura['Q40_Part_6'],locura['Q40_Part_7'],locura['Q40_Part_8'],locura['Q40_Part_9'],locura['Q40_Part_10'],locura['Q40_Part_11'],locura['Q40_OTHER'] ), axis = 1)
#archivo para final

In [40]:
df_42_columna = df_42.apply(lambda locura: sumar_columnas(locura['Q42_Part_1'],locura['Q42_Part_2'],locura['Q42_Part_3'],locura['Q42_Part_4'],locura['Q42_Part_5'], locura['Q42_Part_6'],locura['Q42_Part_7'],locura['Q42_Part_8'],locura['Q42_Part_9'],locura['Q42_Part_10'],locura['Q42_Part_11'],locura['Q42_OTHER'] ), axis = 1)
#para archivo final

# TXT

In [11]:
with open("data/txt.txt") as f:
    txt = f.readlines()

In [12]:
df_txt = pd.read_csv("data/txt.txt", sep=";")

In [13]:
df_txt_filtrado = df_txt.filter(items=["Q3", "Q4", "Q5", "Q7", "Q8", "Q9", "Q11", "Q14", "Q20", "Q21", "Q22", "Q24", "Q25", "Q32", "Q33", "Q41"])

- Subconjunto de archivos con los datos seleccionados para unificar

df_xml - con datos edad y género
df_q10 - con datos de la 10
df_q27 - con datos de la 27
df_q29 - con datos de la 29
df_q40 - con datos de la 40
df_q42 - con datos de la 42
df_txt_filtrado - datos del txt

# Q10

In [14]:
def sumar_columnas (*args):
     
     set_tupla = list(set(args))
     set_tupla.remove(np.nan)
     
     
     if len(set_tupla) == 0:
          return np.nan
     elif len(set_tupla) > 1:
          return ", ".join(set_tupla)

     else:
          return set_tupla[0]

In [15]:
df_q10['q_10_completa']= df_q10.apply(lambda locura: sumar_columnas(locura["Q10_Part_1"], locura["Q10_Part_2"], locura['Q10_Part_3'], locura['Q10_Part_4'],locura['Q10_Part_5'],locura['Q10_Part_6'],locura['Q10_Part_7'],locura['Q10_Part_8'],locura['Q10_Part_9'],locura['Q10_Part_10'],locura['Q10_Part_11'],locura['Q10_Part_12'],locura['Q10_Part_13'],locura['Q10_Part_14'],locura['Q10_Part_15'],locura['Q10_Part_16'],locura['Q10_OTHER']), axis = 1)

In [21]:
df_q10['q_10_completa']

'Colab Notebooks,  Kaggle Notebooks'

In [16]:
df_q10.drop(["Q10_Part_1"], inplace=True, axis=1)

In [17]:
df_q10.drop(['Q10_Part_3','Q10_Part_2','Q10_Part_4','Q10_Part_5','Q10_Part_6','Q10_Part_7','Q10_Part_8'], inplace=True, axis= 1)

In [22]:
df_q10.drop(['Q10_Part_9','Q10_Part_10','Q10_Part_11','Q10_Part_12','Q10_Part_13','Q10_Part_14','Q10_Part_15'], inplace=True, axis= 1)

In [24]:
df_q10.drop(['Q10_Part_16', 'Q10_OTHER'], inplace=True, axis=1)

In [25]:
df_q10 #va para archivo final

                                           q_10_completa
index
0                                        Colab Notebooks
1                     Colab Notebooks,  Kaggle Notebooks
2                                       Kaggle Notebooks
3                                        Colab Notebooks
4                                   Google Cloud Datalab
...                                                  ...
25968  Colab Notebooks,  Amazon Sagemaker Studio Note...
25969                                               None
25970                                                NaN
25971                                               None
25972                                                NaN

[25973 rows x 1 columns]

In [26]:
df_q10.to_csv('data/df_q10')

In [19]:
df_q10.dtypes

Q10_Part_9       object
Q10_Part_10      object
Q10_Part_11      object
Q10_Part_12      object
Q10_Part_13      object
Q10_Part_14      object
Q10_Part_15      object
Q10_Part_16      object
Q10_OTHER        object
q_10_completa    object
dtype: object